[submodule "_submodules/libmatoya"]
	path = _submodules/libmatoya
	url = https://github.com/matoya/libmatoya.git
[submodule "_submodules/dear_imgui"]
	path = _submodules/dear_imgui
	url = https://github.com/ocornut/imgui.git
